* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


:root {
  --white: #EFECE3;
  --blue-light: #8FABD4;
  --blue-dark: #191970;
  --black: #000000;
}


body {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(
    180deg,
    var(--blue-dark) 30%,
    var(--white) 75%
  );
}


.sidebar {
  width: 60px;
  background: var(--black);
  height: 100vh;
  position: sticky;
  top: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar:hover {
  width: 180px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  background: var(--blue-dark);
}

.icon {
  font-size: 20px;
  min-width: 24px;
  text-align: center;
}


.label {
  opacity: 0;
  transition: opacity 0.2s ease;
  white-space: nowrap;
}


.sidebar:hover .label {
  opacity: 1;
}


.page {
  flex: 1;
  padding: 20px;
}


header {
  background: var(--white);
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 70px;

  border: 2px solid var(--blue-dark);
}

header h1 {
  margin-bottom: 5px;
}


.featured {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.featured img {
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.card {
  background: var(--white);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  border: 2px solid var(--blue-dark);
}


.about {
  margin-bottom: 70px;
}


.content-row {
  display: flex;
  justify-content: stretch;
  gap: 20px;
}


h2 {
  color: var(--blue-dark);
  margin-bottom: 10px;
}


ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}


footer {
  background: var(--blue-light);
  padding: 10px;
  margin-top: 20px;
  border-radius: 16px;
  text-align: center;
}
